<div class="Evaluate">
    <div class="flex items-center gap-2">
        <div class="Evaluate-icon flex items-center gap-1">
            <div class="icon-writing w-6 h-6">
                <img src="/assets/image/restaurant/svg/writing.svg" alt="">
            </div>
            <span style="color: var(--error-color);" class="font-bold">{{start}}</span>
            <div class="icon-star w-4 h-4">
                <img src="/assets/image/restaurant/svg/red-star.svg" alt="">
            </div>
        </div>
        <div class="type_evaluate">Tuyệt vời</div>
        <div class="review-count" style="color: var(--review-count);">({{review}} đánh giá)</div>
    </div>
</div>