.main_sub{
    width: 1206px;
    margin: 0 auto;
}

.filter{
    padding: 32px 0;
}

.detail-name{
    font-size: 40px;
    font-weight: 600;
}

.introduce p{
    letter-spacing: 1px;
}

.general-right-image div{
    width: 290px;
    height: 180px;
}

.detail-general-right-image{
    width: 290px;
    height: 384px;
}
.more-image{
    padding: 8px 16px;
    border: 1px solid var(--main-color);
    border-radius: 16px;
    background: #FFF;
}
.more-image-text{
    color: var(--main-color);
    font-weight: 500;
}
.more-image-img{
    width: 24px;height: 24px;
}

.body-left{
    width: 66%;
}
// --------------------------------------------------------------------------------
.amenities_list{
    gap: 16px 23px;
}
.amenities h2{
    font-size: 26px;
}
.amenities-item{
    width: 140px;
    height: 108px;
    padding: 24px 13px 8px;
    border-radius: 8px;
}
.border-gray{
    border: 1px solid var(--gray-4);
}
.more-amenities{
    border: 1px solid var(--main-color);
}
.more-amenities p, .more-amenities div{
    color: var(--main-color);
}
// --------------------------------------------------------------------------------
.menu-image img{
    width: 180px;
    height: 257px;
}
.dish_item{
    position: relative;
}

.dish_item:hover .text-hover{
    opacity: 1;
}
.dish_item-sub{
    width: 180px;
}
.text-hover{
    opacity: 0;
    position: absolute;
    background: #FFF;
    border-radius: 30px;
    transition: ease-in .5s;
}
.dish_item-image{
    height: 180px;
}
.dish_item-heart{
    padding: 6px 8px;
    background: #D2EAF9;
    border-radius: 20px;
    width: fit-content;
}