<div class="filter">

    <form action="">
        <div class="filter_form flex items-center justify-between">
            <div class="filter_form-input flex items-center gap-4">
                <div class="input-main">
                    <label for="city">
                        <div class="flex items-center">
                            <div class="icon mr-1.5">
                                <img src="/assets/image/restaurant/svg/map.svg" alt="">
                            </div>
                            <span class="text-sm">Điểm đến</span>
                        </div>
                    </label>
                    <input type="text" placeholder="Thành phố" id="city" class="w-full">
                </div>

                <div class="line"></div>
            
                <div class="input-main">
                    <label for="search">
                        <div class="flex items-center">
                            <div class="icon mr-1.5">
                                <img src="/assets/image/restaurant/svg/search.svg" alt="">
                            </div>
                            <span class="text-sm">Tìm kiếm</span>
                        </div>
                    </label>
                    <input type="text" placeholder="Tên nhà hàng, món ăn" id="search" class="w-full">
                </div>
            </div>
            <button class="btn-fil flex items-center justify-center cursor-pointer">
                <div class="icon">
                    <img src="/assets/image/restaurant/svg/search_while.svg" alt="">
                </div>
            </button>
        </div>
    </form>

</div>